Repository OPCODE-Open-Spring-Fest/codecrack, pull requests merged in 2024-03, with the labels that each got.

#10 checked for overflow issues.
  easy/day_2/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#11 Solved Medium/Day2 Task. #6
  medium/day_2/prog.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#15 chore: completed day1 easy task
  easy/day_1/.cph/.solution.cpp_ad0d3167fa989b5dc9570fc4375b146a.prob
  easy/day_1/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#17 feat: solved day1 medium
  medium/day_1/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#22 chore: completed day_3 hard task
  hard/day_3/.cph/.solution.cpp_c2f6d70d8f6905b229d78483cfc14d83.prob
  hard/day_3/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#26 feat:solved day 3 medium
  medium/day_3/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#29 feat: solved day 3 easy
  easy/day_3/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#33 chore: completed day5 medium task
  medium/day_5/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#38 chore: update the solution of code
  easy/day_6/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#39 feat: solved day 6 medium
  medium/day_6/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#45 feat: solved day7 medium
  medium/day_7/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#55 feat: solved day 8 easy
  easy/day_8/solution.cpp
Labels: PR:Accept, Semver:patch, Type:Easy
