Repository OPCODE-Open-Spring-Fest/codecrack, pull requests merged in 2024-04, with the labels that each got.

#63 feat: solved day 10 easy
  easy/day_10/solution.cpp
Labels: PR:Accept, Semver:patch, Type:Easy

#73 Day 7
  hard/day_7/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#67 feat: solution added
  easy/day_9/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#80 Mediumday10
  medium/day_10/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#81 feat: solved day 11 easy
  easy/day_11/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#89 chore: solved medium day 12 task
  medium/day_12/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#85 chore: completed day 8 hard task
  hard/day_8/.cph/.solution.cpp_521f08744a3a7479af4b580302d55895.prob
  hard/day_8/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#90 feat: solved day 9 hard
  hard/day_9/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#97 feat: solved day 12 hard
  hard/day_12/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#102 chore: day13 solution
  easy/day_13/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#104 chore: solved hard day 13 task
  medium/day_13/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#109 feat: solved day 11 hard
  hard/day_11/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#125 feat: day 13 medium solution
  medium/day_13/solution
  medium/day_13/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#124 chore: completed day 14 hard task author:Ankur-Dwivedi22
  hard/day_14/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#123 chore: solved medium day 14 task
  medium/day_14/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#121 chore: completed day 9 medium task author:Ankur-Dwivedi22
  medium/day_9/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#132 feat: solved day 15 medium
  medium/day_15/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#140 feat: day 16 easy solution
  easy/day_16/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#142 feat: solved day 11 medium
  medium/day_11/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#146 feat: day 15 easy solution
  easy/day_15/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#147 feat: day 14 easy solution updated
  easy/day_14/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#151 feat: added solution for easy day17
  easy/day_17/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#153 chore: solved day 15 hard task
  hard/day_15/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#154 feat: solved day 17 medium
  hard/day_17/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#158 feat: day 12 easy problem solved
  .DS_Store
  easy/day_12/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#159 chore: completed hard day 10 task author : Ankur-Dwivedi22
  hard/day_10/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#160 chore: solved day 16 medium task
  medium/day_16/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#164 feat: solved day 17 hard
  hard/day_17/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#162 chore: solved hard day 5 task
  hard/day_5/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#161 chore: solved hard day 6 task
  hard/day_6/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#171 feat: solved day 19 hard
  hard/day_19/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard

#170 Shreshth
  easy/day_5/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#169 feat: easy day 19 solution
  easy/day_19/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#177 Shreshth
  easy/day_20/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Easy

#178 feat: solved day 20 medium
  medium/day_20/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Medium

#179 feat: solved day 20 hard
  hard/day_20/solution.cpp
Labels: Issue:question, PR:Accept, Semver:patch, Type:Hard
